
		<!-- START SECTION TOP -->
		<section class="section-top">
			<div class="container">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<h1>Instructor Details</h1>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li> / instructor details</li>
						</ul>
					</div><!-- //.HERO-TEXT -->
				</div><!--- END COL -->
			</div><!--- END CONTAINER -->
		</section>	
		<!-- END SECTION TOP -->
		
	<!-- START AGENT PROFILE -->
	<section class="template_agent section-padding">
		<div class="container">
			<div class="row">
			  <div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="single_agent">
						<div class="single_agent_image">
							<img src="assets/img/team/team1.jpg" class="img-fluid" alt=""/>
						</div>
						<div class="single_agent_content">
							<h4>{{obj.firstName}}-{{obj.lastName}}</h4>
							<h5>{{obj.specialite}}</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever type book.</p>
							<ul>
								<li><i class="fa fa-envelope-o"></i>{{obj.email}}</li>
								<li><i class="fa fa-phone"></i>{{obj.phone}}</li>
								<li><i class="fa fa-plane"></i>{{obj.adress}}</li>
							
							</ul>
						</div>
						<div class="agent_social">
							<ul class="list-inline">
								<li><a href="#" class="top_f_facebook"><img src="assets/img/fb.svg" alt="" /></a></li>
								<li><a href="#" class="top_f_facebook"><img src="assets/img/pn.svg" alt="" /></a></li>
								<li><a href="#" class="top_f_facebook"><img src="assets/img/ins.svg" alt="" /></a></li>
							</ul>
						</div>
					</div><!--- END SINGLE ITEM -->		
			  </div><!--- END COL -->				  
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->		
	</section>
	<!-- END AGENT PROFILE -->	



	
	
