		

		<!-- START SECTION TOP -->
		<section class="section-top">
			<div class="container">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<h1>Teacher Edit</h1>
						
					</div><!-- //.HERO-TEXT -->
				</div><!--- END COL -->
			</div><!--- END CONTAINER -->
		</section>	
		<!-- END SECTION TOP -->
		
		<!-- START ADDRESS -->
		<section class="address_area section-padding">
			<div class="container">
				<div class="row text-center">
					<div class="col-lg-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_address sa_one">
							<i class="ti-map"></i>
							<h4>Our Location</h4>
							<p>3481 Melrose Place, Beverly Hills <br /> CA 90210</p>
						</div>
					</div><!-- END COL -->
					<div class="col-lg-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
						<div class="single_address sa_two">
							<i class="ti-mobile"></i>
							<h4>Phone</h4>
							<p>(+1) 517 397 7100</p>
							<p>(+1) 411 315 8138</p>
						</div>
					</div><!-- END COL -->
					<div class="col-lg-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<div class="single_address sa_three">
							<i class="ti-email"></i>
							<h4>Send email</h4>
							<p>#</p>
							<p>#</p>
						</div>
					</div><!-- END COL -->			  
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END ADDRESS -->	

		<!-- CONTACT -->
		<div id="contact" class="contact_area section-padding">
			<div class="container">			
				<div class="row">					
					<div class="col-lg-12 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">		
						<div class="contact">
							<form #teacherForm="ngForm" (ngSubmit)="editTeacher()">
								<div class="row">
									<div class="form-group col-md-6">
										<label for="">First Name</label>
										<input type="text" [(ngModel)]="teacher.firstName" name="firstname" class="form-control"  placeholder="First Name" >
									</div>
									<div class="form-group col-md-6">
										<label for="">Last Name</label>
										<input type="text" [(ngModel)]="teacher.lastName" name="lastName" class="form-control"  placeholder="Last Name" >
									</div>
								<div class="form-group col-md-6">
										<label for="">Email</label>
										<input type="email" [(ngModel)]="teacher.email" name="email" class="form-control"  placeholder="email" >
									</div>

										<div class="form-group col-md-6">
										<label for="">Phone</label>
										<input type="number" [(ngModel)]="teacher.phone" name="telephone" class="form-control"  placeholder="telephone" >
									</div>

									<div class="form-group col-md-12">
										<label for="">Adress</label>
										<textarea rows="6"[(ngModel)]="teacher.adress" name="adresse" class="form-control"   placeholder="Adresse"></textarea>
									</div>
									<div class="col-md-12 text-center">
										<button type="submit" value="Send message" name="submit" id="submitButton" class="btn_one" title="Submit Your Message!">Edit Teacher</button>
									</div>
								</div>
							</form>
						</div>
					</div><!-- END COL  -->
	
				</div><!-- END ROW -->				
			</div><!--- END CONTAINER -->
		</div>
		<!-- END CONTACT -->
		
	

