<!-- START PRELOADER -->
<div class="preloaders">
    <span class="loader"></span>
</div>
<!-- END PRELOADER -->



<!-- START HOME -->
<section class="home_bg hb_height"
    style="background-image: url(assets/img/bg/home-bg.jpg);  background-size:cover; background-position: center center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="hero-text ht_top">
                    <h1><span>Smart Study</span> Where Knowledge Meets the Web</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, consectetur adipiscing elit tempor ut
                        labore</p>
                </div>
                <div class="home_sb">
                    <form action="#" class="banner_subs">
                        <input type="text" class="form-control home_si" placeholder="Search your course here"
                            required="required">
                        <button type="button" class="subscribe__btn">Search <i class="fa fa-paper-plane-o"></i></button>
                    </form>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="hero-text-img">
                    <img src="img/home-img2.png" class="img-fluid" alt="" />
                    <div class="home_ps">
                        <span class="ti-user"></span>
                        <h2>4500+</h2>
                        <p>Active student</p>
                    </div>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END  HOME -->

<!-- START COUNTER -->
<section class="count_area counter_feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single-counter">
                    <span class="ti-folder sc_one"></span>
                    <h2 class="counter-num">134</h2>
                    <p>Our Online Course</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single-counter">
                    <span class="ti-medall-alt sc_two"></span>
                    <h2 class="counter-num">299</h2>
                    <p>Academic Programs</p>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single-counter">
                    <span class="ti-id-badge sc_three"></span>
                    <h2 class="counter-num">684</h2>
                    <p>Certified Students</p>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single-counter">
                    <span class="ti-user sc_four"></span>
                    <h2 class="counter-num">941</h2>
                    <p>Enrolled Students</p>
                </div>
            </div><!-- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END COUNTER -->

<!-- START CATEGORY -->
			<section class="team_area section-padding">
			<div class="container">									
				<div class="section-title text-center">
					<h2>Meet our Instructors</h2>
					<p>We offer a brand new approach to the most basic learning paradigms. Choose from a wide range of learning options and gain new skills! Our school is know.</p>
				</div>						
				<div class="row">													
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="our-team">
							<div class="team-content">
								<a href="#"><img src="assets/img/team/team1.jpg" alt=""></a>
								<ul class="social-links">
									<li><a href="#"><i class="fa-solid fa-x"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								</ul>
							</div>
							<div class="team-prof">
								<h3>Bilkis Vabi</h3>
								<span>Web designer</span>
							</div>
							<div class="sth_det2">
								<span class="ti-file"> <u>04 Course</u></span>
								<span class="ti-user"> <u>27 Student</u></span>
							</div>									
						</div>
					</div><!--- END COL -->										
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="our-team">
							<div class="team-content">
								<a href="#"><img src="assets/img/team/team2.jpg" alt=""></a>
								<ul class="social-links">
									<li><a href="#"><i class="fa-solid fa-x"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								</ul>
							</div>
							<div class="team-prof">
								<h3>Mood Wasim</h3>
								<span>TemplateMonster company</span>
							</div>
							<div class="sth_det2">
								<span class="ti-file"> <u>06 Course</u></span>
								<span class="ti-user"> <u>41 Student</u></span>
							</div>							
						</div>
					</div><!--- END COL -->										
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="our-team">
							<div class="team-content">
								<a href="#"><img src="assets/img/team/team3.jpg" alt=""></a>
								<ul class="social-links">
									<li><a href="#"><i class="fa-solid fa-x"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								</ul>
							</div>
							<div class="team-prof">
								<h3>Shyinn tim</h3>
								<span>Codecanyou</span>
							</div>
							<div class="sth_det2">
								<span class="ti-file"> <u>13 Course</u></span>
								<span class="ti-user"> <u>31 Student</u></span>
							</div>
						</div>
					</div><!--- END COL -->										
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="our-team">
							<div class="team-content">
								<a href="#"><img src="assets/img/team/team4.jpg" alt=""></a>
								<ul class="social-links">
									<li><a href="#"><i class="fa-solid fa-x"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								</ul>
							</div>
							<div class="team-prof">
								<h3>Shorif shorifa</h3>
								<span>Tsc chottor</span>
							</div>
							<div class="sth_det2">
								<span class="ti-file"> <u>07 Course</u></span>
								<span class="ti-user"> <u>24 Student</u></span>
							</div>
						</div>
					</div><!--- END COL -->							  
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
<!-- END CATEGORY -->

<!-- START ABOUT US -->
<section class="home_course section-padding">
			<div class="container">			
				<div class="row">
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="single_course">
							<div class="single_c_img">
								<img src="assets/img/course/1.png" class="img-fluid" alt="course-image" />
								<span>Education</span>
							</div>
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
							<h4><a href="course.html">Complete User fundamentals beginners to advanced</a></h4>
							<p><span class="ti-book"> </span> 12 Course</p>
							<p><span class="ti-alarm-clock"> </span>2 Hrs 32 Min</p>
							<div class="price">Course Fee - 99$</div>
						</div>
					</div><!-- END COL -->
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="single_course">
							<div class="single_c_img">
								<img src="assets/img/course/2.png" class="img-fluid" alt="course-image" />
								<span>UI/UX</span>
							</div>
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
							<h4><a href="course.html">Advanced Android 12 & Kotlin Development Course</a></h4>
							<p><span class="ti-book"> </span> 41 Course</p>
							<p><span class="ti-alarm-clock"> </span>3 Hrs 32 Min</p>
							<div class="price">Course Fee - 49$</div>
						</div>
					</div><!-- END COL -->
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="single_course">
							<div class="single_c_img">
								<img src="assets/img/course/3.png" class="img-fluid" alt="course-image" />
								<span>Lifestyle</span>
							</div>
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
							<h4><a href="course.html">Complete HTML, CSS and Javascript Course</a></h4>
							<p><span class="ti-book"> </span> 32 Course</p>
							<p><span class="ti-alarm-clock"> </span>2 Hrs 32 Min</p>
							<div class="price">Course Fee - Free</div>
						</div>
					</div><!-- END COL -->
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="single_course">
							<div class="single_c_img">
								<img src="assets/img/course/4.png" class="img-fluid" alt="course-image" />
								<span>Science</span>
							</div>
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
							<h4><a href="course.html">IOS and Swift Complete iOS Application Development</a></h4>
							<p><span class="ti-book"> </span> 19 Course</p>
							<p><span class="ti-alarm-clock"> </span>2 Hrs 32 Min</p>
							<div class="price">Course Fee - 59$</div>
						</div>
					</div><!-- END COL -->
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="single_course">
							<div class="single_c_img">
								<img src="assets/img/course/5.png" class="img-fluid" alt="course-image" />
								<span>Modern</span>
							</div>
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
							<h4><a href="course.html">Learn graphics design with a best IT Trainer</a></h4>
							<p><span class="ti-book"> </span> 22 Course</p>
							<p><span class="ti-alarm-clock"> </span>2 Hrs 32 Min</p>
							<div class="price">Course Fee - 79$</div>
						</div>
					</div><!-- END COL -->
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="single_course">
							<div class="single_c_img">
								<img src="assets/img/course/6.png" class="img-fluid" alt="course-image" />
								<span>Marketing</span>
							</div>
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
							<h4><a href="course.html">Complete data science for your next business</a></h4>
							<p><span class="ti-book"> </span> 11 Course</p>
							<p><span class="ti-alarm-clock"> </span>2 Hrs 32 Min</p>
							<div class="price">Course Fee - 39$</div>
						</div>
					</div><!-- END COL -->						
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->		
		</section>
		<!-- END COURSE -->		
<!-- END ABOUT US -->



<!-- START COURSE -->

<!-- END COURSE -->

<!-- START COMPANY PARTNER LOGO  -->
<div class="partner-logo section-padding">
    <div class="container">
        <div class="row part_bg">
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="partner_title">
                    <h3>Helping <span>86,000+</span> global companies take the gloves off </h3>
                </div>
            </div><!-- END COL  -->
            <div class="col-lg-8 col-sm-8 col-xs-12 text-center">
                <div class="partner">
                    <a href="#"><img src="img/clients/1.png" alt="image"></a>
                    <a href="#"><img src="img/clients/2.png" alt="image"></a>
                    <a href="#"><img src="img/clients/3.png" alt="image"></a>
                    <a href="#"><img src="img/clients/4.png" alt="image"></a>
                    <a href="#"><img src="img/clients/5.png" alt="image"></a>
                    <a href="#"><img src="img/clients/2.png" alt="image"></a>
                    <a href="#"><img src="img/clients/1.png" alt="image"></a>
                    <a href="#"><img src="img/clients/3.png" alt="image"></a>
                    <a href="#"><img src="img/clients/4.png" alt="image"></a>
                </div>
            </div><!-- END COL  -->
        </div><!--END  ROW  -->
    </div><!-- END CONTAINER  -->
</div>
<!-- END COMPANY PARTNER LOGO -->


