<!-- START SECTION HOME COURSE -->
<section class="home_course section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-6 col-xs-12">
                <div class="section-title">
                    <h2>Join with more than <b>80,000+ </b> <br />Courses & Learning creators.</h2>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="single_course">
                    <div class="single_c_img">
                        <img src="img/course/1.png" class="img-fluid" alt="course-image" />
                        <span>Education</span>
                    </div>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i>
                    
                    <!-- Ligne 20 sécurisée -->
                    <h4><a href="course.html"><p>{{ obj?.name }}</p></a></h4>
                    <h4>Cours: {{ obj?.courId?.name }}</h4>
<h4>Student: {{ obj?.tId?.firstName }} {{ obj?.tId?.lastName }}</h4>

                    
                    <p><span class="ti-book"> </span></p>
                    <p><span class="ti-alarm-clock"> </span>{{ obj?.courId?.duree }} heures</p>
                    <div class="price"></div>
                </div>
            </div><!-- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END SECTION HOME COURSE -->
